pkgs/Wadl/meetingappapprovereject.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="meetingappapprovereject" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="meeting app approve reject" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_email_Value_def" />
      <string name="ManualTriggerInput_meetingwith_Value_def" />
      <string name="ManualTriggerInput_meetingtype_Value_def" />
      <string name="ManualTriggerInput_meetingsubject_Value_def" />
      <string name="ManualTriggerInput_date_Value_def" />
      <string name="ManualTriggerInput_time_Value_def" />
      <string name="ManualTriggerInput_venue_Value_def" />
      <string name="ManualTriggerInput_yesNo_Value_def" />
      <string name="ManualTriggerInput_project_Value_def" />
      <object name="ManualTriggerInput">
        <property name="email_Value" type="string" />
        <property name="meetingwith_Value" type="string" />
        <property name="meetingtype_Value" type="string" />
        <property name="meetingsubject_Value" type="string" />
        <property name="date_Value" type="string" />
        <property name="time_Value" type="string" />
        <property name="venue_Value" type="string" />
        <property name="yesNo_Value" type="string" />
        <property name="project_Value" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="email_Value" path="/email_Value" type="xs:string" required="true" />
            <param style="plain" name="meetingwith_Value" path="/meetingwith_Value" type="xs:string" required="true" />
            <param style="plain" name="meetingtype_Value" path="/meetingtype_Value" type="xs:string" required="true" />
            <param style="plain" name="meetingsubject_Value" path="/meetingsubject_Value" type="xs:string" required="true" />
            <param style="plain" name="date_Value" path="/date_Value" type="xs:string" required="true" />
            <param style="plain" name="time_Value" path="/time_Value" type="xs:string" required="true" />
            <param style="plain" name="venue_Value" path="/venue_Value" type="xs:string" required="true" />
            <param style="plain" name="yesNo_Value" path="/yesNo_Value" type="xs:string" required="true" />
            <param style="plain" name="project_Value" path="/project_Value" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>